hello <%= current_user.company_name%>
<%= link_to "See AirCraft Part", aircraft_parts_path, method: :get %>
<%= link_to "Log Out", destroy_user_session_path, method: :delete %>


<div>
	
</div>

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url('breg.jpeg');
            background-repeat: no-repeat;
            background-size: cover;
        }
        .product {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10px;
            padding: 10px;
            border: 1px solid #000;
        }
        .product-info {
            display: flex;
            flex-direction: column;
        }
        .filters {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;
            background-color: rgba(165, 238, 251, 0.8);
            padding: 10px;
        }
    </style>
</head>
<body>

    <div class="filters">
        <div>
            <label for="sort">Sort by:</label>
            <%= form_tag(dashboard_index_path, method: :post, id: 'sort_form')do %>
              <select id="sort" name="sort">
                  <option value="old">Old to New</option>
                  <option value="new">New to Old</option>
              </select>
            <% end %>
        </div>
        <div>
            <input type="text" id="search" placeholder="Search...">
            <button id="search-btn">Search</button>
        </div>
    </div>

    <div class="container">
<table id="customers">
  <tr>
    <th>S NO.</th>
    <th>Part Name</th>
    <th>Material Composition</th>
    <th>Condition</th>
    <th>Details</th>
    <th>Action</th>
  </tr>
  <% @aircraft_parts.each do |part| %>
      <tr>
        <td><%= part.id %></td>
        <td><%= part.part_name %></td>
        <td><%= part.material_composition %></td>
        <td><%= part.condition %></td>
        <td><%= link_to "See Details", aircraft_part_path(part.id), method: :get %></td>
        <td>
          <% if part.status %>
           <%= form_tag(purchases_path, method: :get)do %>
               <%= hidden_field_tag "aircraft_part_id", part.id %>
               <%= submit_tag "BUY", class: "btn btn-success" %>
            <% end %>
          <% else %>
            <button type="button" class="btn btn-danger">Sold</button>
          <% end %>
        </td>
      </tr>
  <% end %>
  
</table>
<%= will_paginate @aircraft_parts %>
</div>
<script type="text/javascript">
  const dropdown = document.getElementById("sort");

dropdown.addEventListener("change", function() {
  
  document.getElementById("sort_form").submit();
});
</script>

<style type="text/css">
  #customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #305da2;
  color: white;
}
</style>

    

</body>
</html>