<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            overflow: hidden;
        }
        .sidebar {
            background-color: #9ec7f3; /* Bluish color */
            color: white;
            padding: 10px;
            width: 350px; /* Sidebar width */
            height: 100vh;
            text-align: left;
            position: fixed;
            z-index: 1;
        }
        .sidebar h1 {
            margin-top: 0;
        }
        .sidebar a {
            display: block;
            margin: 20px 0;
            text-decoration: none;
            color: white;
        }
        /* Carousel styles */
        #carousel {
            display: flex;
            overflow: hidden;
            width: calc(100vw - 200px); /* Reduce width by sidebar width */
            height: 100vh;
            position: fixed;
            right: 0;
        }
        #carousel img {
            width: calc(100vw - 200px); /* Reduce width by sidebar width */
            height: 100vh;
            object-fit: cover;
            flex-shrink: 0;
        }
    </style>
</head>
<body>
        <div class="sidebar">
        <h1>AIRCRAFT SUSTAINABILITY</h1>
        <nav>
        	<%= link_to("Sign In",new_user_session_path , class: "login-link") %>
        	<%= link_to("Sign Up",new_user_registration_path , class: "signup-link") %>
            <%= link_to("Recycle Analyst",data_analyst_path , class: "signup-link") %>
        </nav>
    </div>
    <div id="carousel">
    	<%= image_tag "img1.jpeg" %>
    	<%= image_tag "img2.jpeg" %>
    	<%= image_tag "img3.jpeg" %>
    	<%= image_tag "img4.jpeg" %>
    </div>
    <script>
        // Carousel script
        const carousel = document.getElementById('carousel');
        let offset = 0;
        setInterval(() => {
            offset = (offset + 1) % 4;  // 4 is the number of images
            carousel.scrollTo({left: offset * (window.innerWidth - 200), behavior: 'smooth'});  // Scroll width is now the width of the window minus the sidebar width
        }, 3000);  // 3000 is the time in milliseconds between each scroll
    </script>
</body>
</html>