<p>Details</p>

 <p>ID: <%= @aircraft_part.id %> </p>                        
 <p>Part Name: <%= @aircraft_part.part_name %> </p>                    
 <p>material composition<%= @aircraft_part.material_composition %> </p>         
 <p>age: <%= @aircraft_part.age %>     </p>                      
 <p>condition: <%= @aircraft_part.condition %>   </p>                  
 <p>location: <%= @aircraft_part.location %>   </p>                   
 <p>manufacturer: <%= @aircraft_part.manufacturer %> </p>                 
 <p>aircraft_model: <%= @aircraft_part.aircraft_model %> </p>               
 <p>potential_use_cases: <%= @aircraft_part.potential_use_cases %>  </p>         
 <p>new_parts_carbon: <%= @aircraft_part.new_parts_carbon %></p>
 <p>new_water_usage: <%= @aircraft_part.recycled_parts_carbon %></p>
 <p>new_water_usage: <%= @aircraft_part.new_water_usage %></p>
 <p>recycled_water_usage: <%= @aircraft_part.recycled_water_usage %></p>
 <p>new_landfil: <%= @aircraft_part.new_landfil %></p>
 <p>recycled_landfill: <%= @aircraft_part.recycled_landfill %></p>
 <p>new_energry: <%= @aircraft_part.new_energry %></p>
 <p>recycled_energy: <%= @aircraft_part.recycled_energy %></p>
 <p>recycling_rate: <%= @aircraft_part.recycling_rate %></p>
 <p>recycled_toxity: <%= @aircraft_part.new_toxity %></p>
 <p><%= @aircraft_part.recycled_toxity %></p>
 <p>remanufacturing_potential: <%= @aircraft_part.remanufacturing_potential %></p>
 <p>renewable_material_content: <%= @aircraft_part.life_cycle_assessment %></p>
 <p><%= @aircraft_part.renewable_material_content %></p>
 <p>carbon_footprint_saved: <%= @aircraft_part.carbon_footprint_saved %></p>
 <p>water_usage_saved: <%= @aircraft_part.water_usage_saved %></p>
 <p>landfill_waste_save: <%= @aircraft_part.landfill_waste_save %></p>
 <p>energy_consumption_saved: <%= @aircraft_part.energy_consumption_saved %></p>
 <p>toxicity_score_difference: <%= @aircraft_part.toxicity_score_difference %></p>
 <p>remanufacturing_potentia: <%= @aircraft_part.remanufacturing_potentia %></p>
 <p>life_ycle_assessment_score: <%= @aircraft_part.life_ycle_assessment_score %></p>
 <p>created_at: <%= @aircraft_part.created_at %></p>
 <p>updated_at<%= @aircraft_part.updated_at %></p>
  
